.fade-in {
    transition: opacity 1.5s ease;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1.5s ease;
  }

  @keyframes fade-animation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
