.container {
  display: flex;
  width: 100%;
  background-color: green;
}

.leftsideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
}

.circle {
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
}

.verticalbar {
  display: flex;
  background-color: white;
  width: 10px;
  /* TODO: Change the height on this */
  height: 1rem;
  /* TODO: Change the flex-grow to flex shorthand*/
  flex-grow: 1;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 2rem;
  color: yellow;
}

.description {
  font-size: 1rem;
  color: blue;
}
